body{
	padding-top: 50px;
	background: url(../img/circle-bg.jpg) no-repeat;
	background-position: center top; 
}
.main .title,
.main .sub-title{
	width: 100%;
	text-align: center !important;
	font-size: 4.2rem;
	font-weight: 100;
	display: inline-block;
}
.main .title{
	margin-top: 10rem;
}
.main .sub-title{
	font-size: 1.6rem;
	color: grey;
	margin-top: 5rem;
	margin-bottom: 10rem; 
}
@media only screen and (max-width: 768px) {
	.main .title{
		margin-top: 3rem;
		font-size: 3rem;
	}
	.main .sub-title{
		font-size: 1.6rem;
		margin-top: 2rem;
		margin-bottom: 3.5rem; 
	}
}
.item-list .row{
	padding-bottom: 1rem;
}
.main .item-list .item{
	padding: 3rem 2rem 1.5rem;
	background-color: #FFFFFF;
	margin-bottom: 4rem;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}
.main .item-list .item img{
	width: 100%;
}
.main .item-list .item span{
	display: block;
}
.item .item-title{
	padding: 2rem 0 2rem ;
	font-size: 1.8rem;
}

.item .item-title a:hover{
	color: #000000;
}
.item .item-sub-title{
	padding-bottom: 1.5rem;
	color: #7f7f7f;
}
.item .item-time{
	color: #7f7f7f;
	text-align: right;
	font-size: 1.2rem;
}
@media only screen and (max-width: 768px) {
	.item .item-title{
		padding-bottom:0.5rem;
		font-size: 1.8rem;
	}
	.item .item-sub-title{
		padding-bottom: 1rem;
	}
}