.main{
	padding-top: 50px;
}
.main .content{
	width: 1000px;
	margin: 0 auto;
	padding: 72px 0 300px 0;
}
.main .content .title{
	text-align: center;
	font-size: 42px;
}
.content .item{
	width: 49.7%;
	margin-top:100px;
	display: inline-block;
	text-align: center;
}
.download-img{
	margin: 0 auto;
	width: 170px;
	height: 170px;
	background: url(../img/download-wechat.jpg) no-repeat;
	background-size: cover;
}
.iph-icon{
	margin: 0 auto;
	margin-top: 50px;
	width: 67px;
	height: 77px;
	background: url(../img/download-ios@2x.png) no-repeat;
	background-size: 67px 77px;
}
.and-icon{
	margin: 0 auto;
	margin-top: 50px;
	width: 67px;
	height: 77px;
	background: url(../img/download-android@2x.png) no-repeat;
	background-size: 67px 77px;
}
.item p{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	margin-top: 65px;
}
.content .txt-cont:first-of-type{
	margin-top: 80px;
	
}
.content .txt-cont{
	color: #868686;
	font-size: 16px;
	text-indent: 2em;
	line-height: 1.8;
}
 