.jumbotron{
    position: relative;
    height: 692px;
    padding: 118px 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.jumbotron .jumbotron-content{
	text-align: center;
}
.jumbotron .title{
	width: 100%;
	font-size: 48px;
	margin: 20px auto 25px auto;
	text-align: center;
}
.jumbotron .slogan{
	width: 780px;
	margin: 0 auto;
	font-size: 18px;
    color: grey;
    text-align: center;
    margin-bottom: 30px;
}
 .btn-primary {
	min-width: 156px;
    color: #fff;
    background-color: #03A9F4;
    border-color: #03A9F4;
}
.jumbotron .btn.btn-lg {
    padding: 14px 26px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 3px;
}
.btn-primary:focus, 
.btn-primary:hover, 
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0ab1fc;
    border-color: #0ab1fc;
    outline: 0!important;
}
.jumbotron .ysyy{
	padding: 14px 26px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 3px;
    min-width: 156px;
    color: #fff;
    background-color: transparent;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: grey;
    border: 2px solid #c2c2c2;
    margin-left: 12px;
}
.jumbotron .ysyy:hover{
	background-color: #FFFFFF;
}
.main .slide{
	padding-top: 94px;
}
.main .partners-wrap {
    padding: 78px 104px;
    font-size: 0;
}
.main .permissions{
	background-color:  #f7f7f7;
}
.main .permissions p{
    max-width: 672px;
    margin: 26px auto 24px;
    color: grey;
    line-height: 1.7;
    font-size: 18px;
}
.main .report p{
	max-width: 672px;
	color: gray;
	margin: 26px auto 24px;
	font-size: 18px;
	line-height: 1.7;
}
