.jumbotron{
    position: relative;
    height: 334px;
    padding: 80px 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    background: url(../img/price-big.jpg) no-repeat;
    background-position: center top;
    background-size: cover;
    margin-top: 50px;
    color: #FFFFFF;
}
.jumbotron .jumbotron-content{
	text-align: center;
}
.jumbotron .title{
	width: 100%;
	font-size: 48px;
	margin: 20px auto 25px auto;
	text-align: center;
}
@media only screen and (max-width: 765px) {
	.jumbotron .title{
		width: 100%;
		font-size: 28px;
		margin: 20px auto 25px auto;
		text-align: center;
	}
}
.jumbotron .slogan{
	max-width: 420px;
	margin: 0 auto;
	font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 30px;
}
@media only screen and (max-width: 765px) {
	.jumbotron .slogan{
		max-width: 420px;
		margin: 0 auto;
		font-size: 12px;
	    color: #FFFFFF;
	    letter-spacing: 2px;
	    line-height: 1.6;
	    text-align: center;
	    margin-bottom: 30px;
	}
}
 .btn-primary {
	min-width: 156px;
    color: #fff;
    background-color: #03A9F4;
    border-color: #03A9F4;
}
.jumbotron .btn.btn-lg {
    padding: 14px 26px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 3px;
}
.btn-primary:focus, 
.btn-primary:hover, 
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0ab1fc;
    border-color: #0ab1fc;
    outline: 0!important;
}
.jumbotron .ysyy{
	padding: 14px 26px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 3px;
    min-width: 156px;
    color: #fff;
    background-color: transparent;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: grey;
    border: 2px solid #c2c2c2;
    margin-left: 12px;
}
.jumbotron .ysyy:hover{
	background-color: #FFFFFF;
}
.main{
	text-align: center;
	padding: 100px 0 100px;
}
@media only screen and (max-width: 765px) {
	.main{
		text-align: center;
		padding: 75px 0 150px;
	}
}
.plan-version {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 406px;
    padding: 0;
    height: 908px;
    border-radius: 6px;
    border: 1px solid #CCC;
    box-shadow: 0 8px 30px rgba(0,0,0,.15);
    vertical-align: top;
    margin: 0 16px;
}
@media only screen and (max-width:768px ) {
	.plan-version {
	    margin: 0;
	}
}
@media only screen and (max-width:767px ) {
	.plan-version {
	    margin: 0;
	    height: 100%;
	}
	.plan-enterprise{
		margin-top: 40px;
	}
}
.plan-version .plan-header {
    position: relative;
    padding: 29px 0;
    height: 120px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #EEE;
    border-radius: 6px 6px 0 0;
    text-align: center;
}
.plan-version .plan-header h4 {
    font-size: 26px;
    margin: 0;
}
.plan-version .plan-header .tips {
    font-size: 14px;
    color: grey;
    margin-top: 10px;
    margin-bottom: 0;
}
.plan-version .plan-price {
    padding-top: 40px;
    height: 260px;
    border-bottom: 1px solid #EEE;
}
@media only screen and (max-width: 768px) {
	.plan-version .plan-price {
	    padding-top: 20px;
	    height: 220px;
	}
}
.plan-version .plan-price .price .currency {
    font-size: 30px;
    vertical-align: top;
}
.plan-version .plan-price .price .money {
    font-size: 60px;
    font-weight: 200;
}
.plan-version .plan-price a.btn-default{
    background-color: #FFF;
}
.plan-version .plan-price a.btn-default {
    border-color: #03A9F4;
    color: #03A9F4;
}
.plan-version .plan-price a {
    margin-top: 20px;
    padding: 14px 35px;
    font-weight: 600;
    border-radius: 6px;
}
.plan-version .btn, .page-business .site-main .btn {
    min-width: 156px;
}
@media only screen and (max-width: 765px) {
	.plan-version .btn, .page-business .site-main .btn {
	    width: 65%;
	}
}
.plan-version .plan-list {
    padding: 20px 0;
}
.plan-version .plan-list>ul {
    width: 200px;
    margin: 0 auto;
}
.plan-version .plan-list>ul li {
    position: relative;
    font-size: 14px;
    margin: 16px 0;
    line-height: 20px;
    padding-left: 13px;

}
.plan-version .plan-list>ul li:before {
    content: ' ';
    position: absolute;
    display: inline-block;
    top: 8px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: grey;
}

.plan-version.plan-enterprise {
    border-color: #03A9F4;
}
.plan-version .know-more.enter-pro {
    color: #383838;
}
.blue-header{
	background: linear-gradient(#81E0FA,#5DB9F6 60%,#33ADF4);
    background: -webkit-gradient(linear,top,bottom,#81E0FA),color-stop(.6,#5DB9F6),to(#33ADF4);
    background: -moz-linear-gradient(top,#81E0FA,#5DB9F6 60%,#33ADF4);
    background: -webkit-linear-gradient(top,#81E0FA,#5DB9F6 60%);
    background: -o-linear-gradient(top,#81E0FA,#5DB9F6 60%,#33ADF4);
    color: #FFFFFF;
}
.blue-header p{
	color: #FFFFFF !important;
}
.plan-version .know-more {
    border-top: 1px solid #EEE;
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 26px 0;
    color: #03A9F4;
    vertical-align: middle;
}
@media only screen and (max-width: 765px) {
	.plan-version .know-more {
	    font-size: 12px;
	}
}