/*头样式*/
body{
	padding-top: 50px;
	background: url(../img/circle-bg.jpg) no-repeat;
	background-position: center top; 
}
.header{
	position: fixed;
    top: 0;
    z-index: 103;
    width: 100%;
    height: 50px;
    background-color: rgba(255,255,255,.9);
    transition: all 0.5s;
}

.header-container{
	width: 100%;
    padding: 0 15px 0 20px;
}
.navbar{
    padding-top: 0;
    height: 50px;
    border: none;
    background-color: inherit;
}
.navbar-button{
    margin-top: -5px;
}
.navbar-brand{
    width: 150px;
    padding: 0;
    text-indent: -9999px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #03A9F4;
}
@media only screen and (min-width:768px) {
	.navbar-brand{
	   margin-left: 5px !important;
   	}
}

.navbar-collapse{
    background-color: rgba(255,255,255,1);
}


.navbar-button>li>a,
.navbar-nav>li>a{
	display: inline-block;
	transition: all 0.3s; 
}

.navbar-nav>li:hover{
	background-color: rgba(255,255,255,0.2);
}
.navbar-button>li>a:hover,
.navbar-nav>li>a:hover{
	color: #03A9F4;
}

.navbar-button>li>a.login {
    border: 1px solid #000000;
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 2px;
    transition: all 0.5s;
}
.header .navbar-button>li>a.login:hover{
    border: 1px solid #383838;
    background-color: #383838;
    padding: 5px 20px;
    border-radius: 2px;
    color: #FFFFFF;
}
.navbar-button>li>a.signup{
	padding: 6px 20px;
    min-width: 70px;
    color: #FFF;
    background-color: #3DA8F5;
    margin-left: 10px;
    border-radius: 2px;
}
.header .navbar-button>li>a.signup:hover{
	background: -webkit-linear-gradient(left,#81E0FA,#3DA8F5);
	background: linear-gradient(left,#81E0FA,#3DA8F5);
	color: #FFFFFF;
}

.navbar-nav{
	margin: 0;
	margin-top: 10px;
}
.navbar-nav>li{
	text-align: center;
}
.navbar-nav .dropdown .dropdown-menu>li{
	text-align: center;
}
.navbar-nav .my-class{
	padding: 0 20px;
    margin: 6px 0;
    border-right: 1px solid #e8e8e8;
}
.navbar-nav>li>a{ 
    font-size: 16px;
    padding: 6px 20px;
    border-radius: 3px;
}
.navbar-nav>li>a.dropdown-toggle{
	padding-right: 0;
} 
/*登录后*/
.navbar-button .my-class{
	color: #000000;
    margin: 14px 0px 14px 10px;
    padding: 0 20px;
    font-size: 16px;
    border-right: 1px solid #E8E8E8;
}
.navbar-button .avatar-wrap{
	cursor: pointer;
	position: relative;
	height: 38px;
}
.navbar-button .avatar{
	display: inline-block;
	width: 28px;
	height: 28px;
	margin: 0 2px 0 25px;
	background-color: #000000;
	vertical-align: middle;
	background:url(../img/toux.png) center top;
	background-size: cover;
}
.navbar-button .use-list{
	position: absolute;
	right: -22px;
	top: 36px;
    padding: 6px 0;
	text-align: center;
	box-shadow: 0 7px 21px rgba(0,0,0,.1);
	background-color: #fff;
}
.navbar-button .use-list li a{
	padding: 6px 0;
	display: block;
	width: 135px;
	font-size: 16px;	
	transition: all 0.3s;
}	
.navbar-button .use-list li a:hover{
	color: #03A9F4;
}	
/*底部样式*/
.site-footer {
    background-color: #333;
    color: #fff;
}
.site-footer .container{
	padding: 0;
}
.site-footer .container span + span{
	
}
.site-footer .footer-nav {
    padding: 30px 0 10px;
    margin-left: 0;
    margin-bottom: 0;
	overflow: hidden;
}
.footer-nav .left{
	width: 250px;
	display: inline-block;
}

.footer-nav .left h4,
.footer-nav .left p{
	margin-bottom: 28px;
}
.footer-nav .left h4{
	color: #ededed;
}
.footer-nav .left p{
	color: #777;
}
.footer-nav .left p:hover{
	color: #FFFFFF;
	cursor: pointer;
	transition: all 0.5s; 
}
.footer-nav .left p span{
	display: block;
	text-indent: 3em;
}
.footer-nav .right{
	display: block;
	vertical-align: top;
	padding-top: 27px;
	display: block;
	margin:0 auto;
	padding-left: 0;
	padding-bottom: 3rem;
}
.footer-nav .right .right-item{
	display: inline-block;
	text-align: center;
}
.footer-nav .right .m-place{
	display: inline-block;
	width: 150px;
	height: 150px;
}
.footer-nav .right .rwm1{
	background: url(../img/erwm1.jpg) no-repeat;
}
.footer-nav .right .rwm2{
	background: url(../img/erwm2.jpg) no-repeat;
}
.footer-nav .right .rwm3{
	background: url(../img/erwm3.jpg) no-repeat;
}
.footer-nav .right .right-item .icon-place{
	display:block;
	margin: 20px  auto 8px;
	width: 43px;
	height: 43px;
}
.footer-nav .right .right-item .sb-icon1{
	background: url(../img/wx-icon.png) no-repeat;
	background-position: center;
}
.footer-nav .right .right-item .sb-icon2{
	background: url(../img/ip-icon.png) no-repeat;
	background-position: center;
}
.footer-nav .right .right-item .sb-icon3{
	background: url(../img/adz-icon.png) no-repeat;
	background-position: center;
}
/*版权样式*/
.site-footer .copyright {
    background-color: #000;
    min-height: 70px;
    text-align: center;
}

.site-footer .copyright .text, .site-footer .copyright .text a {
    color: #a6a6a6;
}
.site-footer .copyright .text {
    display: inline-block;
    font-size: 16px;
    padding: 24px 0;
}
@media only screen and (max-width: 768px ) {
	.site-footer .copyright .text {
	    display: block;
	    font-size: 16px;
	    padding: 10px 0;
	    margin-left: 0 !important;
	}
	.site-footer .row{
		margin-right: 0;
	}
	.navbar-button .avatar {
	  margin-left: 0;
	}
	.navbar-nav .my-class {
	    border-right: none;
	}
}
.site-footer .copyright .text + .text{
	margin-left: 40px;
}
.site-footer .copyright .sns-info {
    float: right;
    margin: 15px 0;
}
.site-footer .copyright .sns-info>a.icon.icon-wechat {
    position: relative;
}
.site-footer .copyright .sns-info>a.icon.icon-wechat .pop {
    display: none;
    position: absolute;
    top: -210px;
    left: -56px;
    width: 150px;
    height: 205px;
    padding: 20px 10px;
    border: 1px solid #d5d8dd;
    background-color: #FFF;
    text-align: center;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
}
.site-footer .copyright .sns-info>a.icon .pop {
    font-size: 14px;
    line-height: 20px;
}
.site-footer .copyright .sns-info>a.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

input[type=button], input[type=submit], input[type=reset]{
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    cursor: pointer;
    outline: none;
}
input[type=text],select{
	font-size: 14px;
	outline: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}  
    
.main{
	padding-bottom: 30rem;
}
