.main{
	padding-top: 50px;
	padding-bottom: 100px;
}
@media only screen and (max-width: 768px) {
	.main{
		padding-bottom: 100px;
	}
}
.main .jumbotron{
	height: 370px;
    text-align: center;
    background: url(../img/2.jpg) no-repeat;
}
.main .jumbotron h1 {
	font-size: 48px;
    margin-top: 70px;
    margin-bottom: 50px;
    color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
	.main .jumbotron{
		height: 260px;
		background: url(../img/2-min.jpg) no-repeat;
		background-position-x: center;
	}
	.main .jumbotron h1 {
		font-size: 32px;
	}
}
.main .jumbotron p {
    margin: 0 auto;
    max-width: 600px;
    font-size: 16px;
    color: grey;
    line-height: 28px;
}
.case-wrapper{
	max-width: 792px;
	margin: 0 auto;
	margin-top: 50px;
}
@media only screen and (max-width: 768px) {
	.case-wrapper{
		max-width: 492px;
		margin-top: -30px;
	}
}
.case-category{
	position: relative;
    top: -40px;
}
.case-category h2{
	width: 280px;
	margin: 20px auto 50px;
	text-align: center;
	font-size: 40px;
	background-color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
	.case-category {
	    top: -35px;
	}
	.case-category h2{
		width: 180px;
		margin: 20px auto 50px;
		text-align: center;
		font-size: 26px;
		background-color: #FFFFFF;
	}
}
.case-category p{
    max-width: 500px;
    margin: 0 auto;
    font-size: 18px;
    color: grey;
    letter-spacing: 0;
    line-height: 28px;
    text-align: center;
}
.cases{
	margin-top: 120px;
    border-top: 1px solid #eee;
    font-size: 0;
}
@media only screen and (max-width: 768px) {
	.cases{
		margin-top: 60px;
	    border-top: 1px solid #eee;
	    font-size: 0;
	}
}
.cases .case-col{
	display: inline-block;
	font-size: 16px;
	padding: 0 50px 80px 120px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: 40px 0;
    text-align: left;
}
@media only screen and (max-width: 768px) {
	.cases .case-col{
		display: inline-block;
		width: 100%;
		font-size: 16px;
		padding: 0 0 40px 40px;
	    background-size: 40px 40px;
	    background-repeat: no-repeat;
	    background-position: 0 0;
	    text-align: left;
	}
}
.cases .icon1{
	background-image: url(../img/icon-okr@2x.png);
}
.cases .icon2,
.cases .icon13{
	background-image: url(../img/icon-cooperation@2x.png);
}
.cases .icon3{
	background-image: url(../img/icon-sprint@2x.png);
}
.cases .icon4{
	background-image: url(../img/icon-research@2x.png);
}
.cases .icon5,
.cases .icon11{
	background-image: url(../img/icon-design@2x.png);
}
.cases .icon6{
	background-image: url(../img/icon-recruiting@2x.png);
}
.cases .icon7,
.cases .icon16{
	background-image: url(../img/icon-bid@2x.png);
}
.cases .icon8{
	background-image: url(../img/icon-campaign@2x.png);
}
.cases .icon9{
	background-image: url(../img/icon-training@2x.png);
}
.cases .icon10{
	background-image: url(../img/icon-agency@2x.png);
}
.cases .icon12{
	background-image: url(../img/icon-issue@2x.png);
}
.cases .icon14{
	background-image: url(../img/icon-marketing@2x.png);
}
.cases .icon15{
	background-image: url(../img/icon-activity@2x.png);
}
.cases .icon17{
	background-image: url(../img/icon-pipeline@2x.png);
}
.cases .case-col .case-title{
    color: #383838;
    font-weight: 500;
    line-height: 1.1;
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 10px;
}
@media only screen and (max-width: 768px) {
	.cases .case-col .case-title{
	    font-size: 16px;
	    margin-top: 10px;
	    margin-left: 5px;
	    text-align: center;
	}
	
}
.cases .case-col .case-cont{
    font-size: 14px;
    color: grey;
    margin: 0;
    line-height: 28px;
}
.cases .case-col a{
	color: #03A9F4;
	font-size: 14px;
}
.partner-logo{
	max-width:1000px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
.partner-logo li{
	display: inline-block;
	margin: 0 20px;
}

@media only screen and (max-width: 1000px) {
	.partner-logo li{
		display: inline-block;
		margin: 0;
		min-height: 120px;
	}
}
@media only screen and (min-width: 1000px) {
	.partner-logo{
		text-align: center;
	}
	.partner-logo li{
		display: inline;
		float: none;
		margin: 0;
		min-height: 120px;
		width: auto;
	}
}
